{% extends 'base.html'%}

{% block content %}

    <div class="post">
            <div class="story">
                <div>
                    <div  style="display: flex;justify-content:center;padding:25px;border:1px solid #ccc;border-radius:50%">
                        <div style="font-weight: bolder;">
                            <a href="{% url 'add_story' %}">+</a>
                        </div>
                    </div>
                    add story
                </div>
                {% for story in stories %}
                <a href="{% url 'view_story' story.user.username %}">
                <div class="items">
                    <div class="profile">
                        <div class="img">
                            <img src="{{ story.user.profile.pfp.url }}" alt="">
                        </div>
                        <p>{{ story.user.username }}</p>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>

            {% for post in posts %}
            <div class="main-post">
                <div class="profile">
                    <img src="{{ post.user.profile.pfp.url }}" alt="hello">
                    <h3><a href="{% url 'profilepage' post.user.username %}">{{ post.user.username }}</a></h3> <span> . {{ post.created_at | timesince | truncatechars:4 }}</span>
                </div> 
                <div class="media">
                    <a href="{% url 'view_post' post.id %}">
                         {% if post.img %}
                            <img src="{{ post.img.url }}" alt="">
                        {% elif post.video %}
                            <video controls autoplay>
                                <source src="{{ post.video.url }}">
                            </video>
                        {% endif %}</a>
                </div>
                <div class="engagement">
                    <div class="left">
                        <span><a href="{% url 'like_post' post.id %}">
                            {% if post.liked %}
                                <i class="fa-solid fa-heart" style="color:red;"></i>
                            {% else %}
                                <i class="fa-regular fa-heart"></i>
                            {% endif %}
                        </a><small>{{ post.like_set.count }}</small></span>
                        <span><i class="fa-regular fa-comment" onclick="commentfun(this)"></i><small>{{ post.comments_set.count }}</small></span>
                        <span><i class="fa-regular fa-paper-plane"></i></span>
                    </div>
                    <div class="right">
                        <span><a href="{% url 'save' post.id %}">
                            {% if not post.saved %}
                            <i class="fa-regular fa-bookmark" ></i>
                            {% else %}
                            <i class="fa-solid fa-bookmark" style="color:white;"></i>
                            {% endif %}
                            </a>
                        </span>
                    </div>
                </div>
                <p style="font-size: smaller;">
                    <strong >@{{ post.user.username }}</strong>
                    {{ post.caption | truncatechars:20 }}</p>

                <!-- Comment section -->
                <div class="showcomments hidden">
                    {% for comment in post.comments_set.all %}
                        {% if not comment.parent %}
                        <div class="comment">
                            <div>
                                <span><img src="{{ comment.user.profile.pfp.url }}" alt="" width="20px" height="20px"></span>
                                <span class="username">{{ comment.user.username }} . <small>{{ comment.created_at | timesince }} ago </small></span>
                                <span><a href="{% url 'delete_comment' comment.id %}"><i class="fa-solid fa-trash"></i></a></span>
                            </div>
                            <span class="text">{{ comment.text }}</span>
                            <span><button type="button" onclick="showReplyForm({{ comment.id }})">
                                Reply
                            </button></span>

                            <!-- Reply Form -->
                            <form method="post" action="" id="reply-form-{{ comment.id }}" style="display:none;">
                                {% csrf_token %}
                                <input type="text" name="text" placeholder="Reply...">

                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">

                                <button type="submit">Reply</button>
                            </form>

                            <!-- Replies -->
                            <div class="replies">
                                {% for reply in comment.replies.all %}
                                    <div class="reply" style="margin-left:30px;">
                                        <span>
                                            <img src="{{ reply.user.profile.pfp.url }}" alt="" width="20px" height="20px">
                                        </span>

                                        <span>{{ reply.user.username }} . <small>{{ reply.created_at | timesince }} ago</small></span>
                                        <span><a href="{% url 'delete_comment' reply.id %}"><i class="fa-solid fa-trash"></i></a></span>
                                        <span>{{ reply.text }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                </div>

                <div class="add-comment" >
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="add">
                        {{ comment_form.text }}
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <button type="submit" style="padding: 5px;"><i class="fa-solid fa-arrow-up"></i>add</button>
                    </div>
                </form>
                </div>
                <!-- comments end here -->
            </div> 
            {% endfor %}
        </div>
        
        {% include 'suggestions.html' %}

        <script>
            function commentfun(icon){
                const comments = icon.closest('.main-post').querySelector('.showcomments');
                comments.classList.toggle('hidden')
            }

             function showReplyForm(commentId) {
                const form = document.getElementById("reply-form-" + commentId);
                if (form.style.display === "none") {
                    form.style.display = "block";
                } else {
                    form.style.display = "none";
                }
            }
        </script>
{% endblock %}