{% extends 'base.html' %}

{% block content %}
    <div class="post">
        <div class="main-post">
            <a href="{% url 'profilepage' post.user.username %}"><i class="fa-solid fa-arrow-left"></i></a>
            <div class="profile">
                <img src="{{ post.user.profile.pfp.url }}" alt="hello">
                <h3><a href="{% url 'profilepage' post.user.username %}">{{ post.user.username }}</a></h3> <span> {{ post.created_at | timesince }}</span>
            </div> 
            <div class="img">
                <a href="{% url 'view_post' post.id %}"><img src="{{ post.img.url }}" alt=""></a>
            </div>
            <div class="engagement">
                <div class="left">
                    <span><i class="fa-regular fa-heart"></i></span>
                    <span><i class="fa-regular fa-comment"></i></span>
                    <span><i class="fa-regular fa-paper-plane"></i></span>
                </div>
                <div class="right">
                    <span><i class="fa-regular fa-bookmark"></i></span>
                </div>
            </div>
            
            <p style="font-size: smaller;">
                <strong >@{{ post.user.username }}</strong>
                {{ post.caption | truncatechars:20 }}</p>

            <button type="submit" class="btn"  style="padding:5px 10px;font-weight:bold;"><a href="{% url 'edit_post' post.id %}">edit</a></button>
            <button type="submit" class="btn" style="padding:5px 10px;margin:3%;font-weight:bold;"><a href="{% url 'delete_post' post.id %}">delete</a></button>
            
            
        </div>  
    </div>
{% endblock %}